* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: poppins;
}
body {
   height: 100vh;
   width: auto;
}
header {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 60px;
   position: absolute;
   background: rgba(255, 255, 255, 0.1);
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
header h1 {
   font-family: "roboto";
   font-size: 38px;
   color: #fff;
   border-radius: 1rem;
   font-weight: 400;
}

header h1 span img {
   position: relative;
   top: 1rem;
}
.fun {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background: #161623;
}
dialog.fun-box-alert {
   position: absolute;
   background: rgba(255, 255, 255, 0.329);
   box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
   border: 1px solid rgba(255, 255, 255, 0.5);
   border-right: 1px solid rgba(255, 255, 255, 0.2);
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
   backdrop-filter: blur(25px);
   border-radius: 1rem;
   padding: 1.5rem;
   margin-top: 1rem;
   font-size: 20px;
   left: 10px;
   transition: all ease 0.5s;
   font-family: "Mukta-malar";
}
dialog.fun-box-alert::backdrop {
   background: transparent;
}
dialog.fun-box-alert .fun-box-text {
   color: #7a7777;
   padding: 0.75rem;
   background: #fff;
   border-radius: 1rem;
   margin-right: 10px;
   font-size: 1.7rem;
}

dialog.fun-box-alert #btn-close {
   padding: 0.75rem;
   background: #fff;
   border-radius: 1rem;
   cursor: pointer;
   border: none;
   outline: none;
   font-size: 1.8rem;
}

.fun-container {
   background: rgba(255, 255, 255, 0.1);
   box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
   border: 1px solid rgba(255, 255, 255, 0.5);
   border-right: 1px solid rgba(255, 255, 255, 0.2);
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
   backdrop-filter: blur(25px);
   border-radius: 10px;
   z-index: 10;
   padding: 2rem;
   border-radius: 1rem;
   transition: 0.5s;
}

.gradient {
   background: linear-gradient(#ffc107, #e91e63);
   background: linear-gradient(#2196f3, #31ff38);
}

.fun-container .fun-box {
   text-align: center;
}
.fun-container .fun-box img {
   padding: 1rem;
   background: #fff;
   border-radius: 50%;
   background: rgba(255, 255, 255, 0.1);
   box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
   border: 1px solid rgba(255, 255, 255, 0.5);
   backdrop-filter: blur(25px);
   width: 40%;
   height: auto;
}
.fun-container .fun-box .input-fun {
   background: rgba(255, 255, 255, 0.1);
   box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
   border: 1px solid rgba(255, 255, 255, 0.5);
   border-right: 1px solid rgba(255, 255, 255, 0.2);
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
   backdrop-filter: blur(25px);
   padding: 0.5rem;
   border-radius: 0.5rem;
   outline: none;
   width: 100%;
   margin: 1rem 0;
   font-size: 1.5rem;
   color: #ffffff;
   font-weight: 400;
}
.fun-container .fun-box .input-fun-btn {
   padding: 0.5rem 0.7rem;
   border-radius: 10px;
   cursor: pointer;
   font-size: 1.4rem;
   transition: 0.5s;
   color: #ffffff;
   background: rgba(255, 255, 255, 0.1);
   box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
   border: 1px solid rgba(255, 255, 255, 0.5);
   border-right: 1px solid rgba(255, 255, 255, 0.2);
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
   backdrop-filter: blur(25px);
}

.fun-container .fun-box .input-fun-btn:hover {
   transform: translate(0px, -3px);
}
@media screen and (max-width: 497px) {
   header h1 {
      font-size: 25px;
   }
}
@media screen and (max-width: 734px) {
   .fun-container {
      padding: 1rem;
   }
   .fun-container .fun-box .input-fun {
      font-size: 1rem;
   }
   .fun-container .fun-box img {
      width: 35%;
   }
   .fun-container .fun-box .input-fun-btn {
      font-size: 1rem;
   }
   dialog.fun-box-alert {
      padding: 1rem;
   }
   dialog.fun-box-alert .fun-box-text {
      padding: 0.75rem;
      font-size: 1rem;
   }
   dialog.fun-box-alert #btn-close {
      font-size: 1.2rem;
   }
}

@media screen and (max-width: 510px) {
   .fun-container {
      padding: 0.75rem;
   }
   .fun-container .fun-box .input-fun {
      font-size: 0.75rem;
   }
   .fun-container .fun-box img {
      padding: 0.75rem;
      width: 30%;
   }
   .fun-container .fun-box .input-fun-btn {
      font-size: 1rem;
   }
}

@media screen and (max-width: 414px) {
   .fun-container {
      padding: 10px;
   }
   .fun-container .fun-box .input-fun {
      font-size: 10px;
   }
   .fun-container .fun-box img {
      padding: 0.75rem;
      width: 30%;
   }
   .fun-container .fun-box .input-fun-btn {
      font-size: 0.75rem;
   }
}
