* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: poppins;
}
body {
   height: 100vh;
   width: auto;
}
header {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 60px;
   position: absolute;
   background: #635f5f;
   border-bottom: 5px solid #0053ee;
}
header h1 {
   font-family: "roboto";
   font-size: 38px;
   color: #fff;
   border-radius: 1rem;
}

header h1 span img {
   position: relative;
   top: 1rem;
}
.fun {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
dialog.fun-box-alert {
   position: absolute;
   border: 2px solid #0053ee;
   border-radius: 1rem;
   padding: 1.5rem;
   margin-top: 1rem;
   background: #0053ee;
   font-size: 20px;
   left: 10px;
   transition: all ease 0.5s;
   font-family: "Mukta-malar";
}
dialog.fun-box-alert::backdrop {
   background: #0053ee6b;
}
dialog.fun-box-alert .fun-box-text {
   color: #7a7777;
   padding: 0.75rem;
   background: #fff;
   border-radius: 1rem;
   margin-right: 10px;
   font-size: 1.7rem;
}

dialog.fun-box-alert #btn-close {
   padding: 0.75rem;
   background: #fff;
   border-radius: 1rem;
   cursor: pointer;
   border: none;
   outline: none;
   font-size: 1.8rem;
}

.fun-container {
   background: #7a7777;
   padding: 2rem;
   border-radius: 1rem;
   transition: 0.5s;
   outline: 5px solid #0053ee;
}

.fun-container .fun-box {
   text-align: center;
}
.fun-container .fun-box img {
   padding: 1rem;
   background: #fff;
   border-radius: 50%;
   outline: 4px solid #0053ee;
   width: 40%;
   height: auto;
}
.fun-container .fun-box .input-fun {
   padding: 0.5rem;
   border: none;
   border-radius: 0.5rem;
   width: 100%;
   margin: 1rem 0;
   font-size: 1.5rem;
   color: #000000;
   outline: 4px solid #0053ee;
   font-weight: 600;
}
.fun-container .fun-box .input-fun-btn {
   padding: 0.5rem 0.7rem;
   border-radius: 10px;
   border: 4px solid #0053ee;
   cursor: pointer;
   font-size: 1.4rem;
   transition: 0.5s;
   background: #fff;
}

.fun-container .fun-box .input-fun-btn:hover {
   background: #0053ee;
   color: #fff;
}
@media screen and (max-width: 497px) {
   header h1 {
      font-size: 25px;
   }
}
@media screen and (max-width: 734px) {
   .fun-container {
      padding: 1rem;
   }
   .fun-container .fun-box .input-fun {
      font-size: 1rem;
   }
   .fun-container .fun-box img {
      width: 35%;
   }
   .fun-container .fun-box .input-fun-btn {
      font-size: 1rem;
   }
   dialog.fun-box-alert {
      padding: 1rem;
   }
   dialog.fun-box-alert .fun-box-text {
      padding: 0.75rem;
      font-size: 1rem;
   }
   dialog.fun-box-alert #btn-close {
      font-size: 1.2rem;
   }
}

@media screen and (max-width: 510px) {
   .fun-container {
      padding: 0.75rem;
   }
   .fun-container .fun-box .input-fun {
      font-size: 0.75rem;
   }
   .fun-container .fun-box img {
      padding: 0.75rem;
      width: 30%;
   }
   .fun-container .fun-box .input-fun-btn {
      font-size: 1rem;
   }
}

@media screen and (max-width: 414px) {
   .fun-container {
      padding: 10px;
   }
   .fun-container .fun-box .input-fun {
      font-size: 10px;
   }
   .fun-container .fun-box img {
      padding: 0.75rem;
      width: 30%;
   }
   .fun-container .fun-box .input-fun-btn {
      font-size: 0.75rem;
   }
}
